body {
   
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    display: flex;
    gap: 12px;
    margin: 0;
}

.header {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    padding-bottom: 72px;
}


.left, .right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 48px;
    padding-top: 12px;
    height: 400px;
}

.right {
    align-items: flex-end;
}
.header .logo {
    font-size: 24px;
    color: #F9FAF8;    
}

.head-group {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.hero {
    background-color: #E5E7EB;
    
}

.header a {
    color: #e5e7eb;
    font-size: 18px;
}

.headline {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 800;
}

.para { 
    font-size: 18px;
    color: #EFE7EB;
}

.header button {
    color: white;
    background-color: #3882F6;
    border-radius: 5px;
    font-size: 18px;
    padding: 5px;
    padding-left: 30px;
    padding-right: 30px;
}

/* Content section */
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    justify-content: center;
    padding: 72px;
}

.info {
    font-size: 36px;
    font-weight: 800;
}

.card-box {
    display: flex;
    align-items: center;
    gap: 75px;
    padding: 72px;
}

.col {
    display: flex;
    flex-direction: column;
    width: 200px;
    align-items: center;
}

.card {
    
    width: 200px;
    height: 200px;
    border: 5px solid #3882F6;
    border-radius: 25px;
    
}

.card-text {
    font-size: 18px;
    color: #808388;
    

}/* Quote section */

.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #E5E7EB;
    padding-left: 21%;
    padding-right: 21%;
    padding-top: 10%;
    padding-bottom: 10%;
    
}

.quote-text {
    display: flex;
    font-size: 36px;
    font-style: italic;
    font-weight:300;
    padding: 5px;
    line-height: 1.6;
}

.attribution {
    font-size: 36px;
    font-weight: 700;
    align-self: flex-end;
    padding: 5px;
}

/* Call to action section */

.action-call {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.box {
    display: flex;
    justify-content: space-around;
    background-color: #3882F6;
    height: 200px;
    width: 1200px;
    border-radius: 10px;
}

.button-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.call-button {
    display: flex;
    justify-content: center;
}

.action-call button {
    font-weight: 700;
    border: 3px solid white;
    color: white;
    background-color: #3882F6;
    border-radius: 10px;
    font-size: 18px;
    padding: 5px;
    padding-left: 30px;
    padding-right: 30px;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text1 {
    font-size: 28px;
    font-weight: 800;
    color: white;
}

.text2 {
    font-size: 18px;
    color: #E5E7EB;
}

/* Footer section */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1F2937;
    height: 75px;
}

.text {
    font-size: 18px;
    color: #E5E7EB;
    padding: 10px;
}